.text-right {
  text-align: right;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 65px;
}
header {
  border-bottom: 3px solid #00e9ba;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.header {
  width: 1000px;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 13px;
  margin: 25px;
}
.links a:hover {
  color: #00e9ba;
}

h2 {
  text-align: center;
  margin: 70px;
  text-transform: uppercase;
}

.courses {
  width: 1000px;
  margin: auto;
  display:  flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.col-4 {
  width: 33.3333%;
  padding: 0 15px;
  box-sizing: border-box;
}

.course {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  position:relative;
  
}

.course-img {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.course-img img {
  max-width: 100%;
  height: 270px;

}

.course-title {
  text-transform: uppercase;
}
.course-price {
  color:  #00e9ba;
  font-weight: bold;
}

.course-start {
  width: 90px;
  height: 90px;
  background-color:rgb(255, 115, 0);
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  position:absolute;
  right: 20px;
  top: -50px;
}

footer {
  width: 800px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.foo-text {
  font-size: 18px;
  line-height: 1.4;
  max-width: 800px;
  margin:50px auto;
}

.foo-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background-color:rgb(253, 249, 1);
  border: 1px solid rgb(253, 249, 1);
  border-radius: 30px;
  box-shadow: 0 2px 10px rgb(143, 143, 143);
  padding: 16px 50px;
  cursor: pointer;

}
.foo-btn:hover {
  box-shadow: 0 -2px 10px rgb(143, 143, 143);

}